services:
    postgres:
        volumes:
            - postgres:/var/lib/postgresql/data

    emulator:
        image: jrottenberg/ffmpeg:latest
        command: >
            -re -f lavfi -i testsrc=size=1280x720:rate=30 
            -c:v libx264 -pix_fmt yuv420p -f rtsp 
            -rtsp_transport tcp rtsp://mediamtx:8554/demo_stream
        depends_on:
            - mediamtx

volumes:
    postgres:
