version: "3.7"

services:
    redis:
        image: redis:latest
        restart: always
        ports:
            - "${REDIS_PORT:-6379}:6379"

    postgres:
        image: postgres:13-alpine
        restart: always
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        ports:
            - "${POSTGRES_PORT:-5432}:5432"

    node:
        build:
            context: ./
            dockerfile: ./Dockerfile
        env_file:
            - ./.env
        ports:
            - "${PORT:-8086}:8086"
        depends_on:
            - postgres
            - redis
