version: "3.7"

services:
    postgres:
        volumes:
            - postgres:/var/lib/postgresql/data

    emulator:
        image: jrottenberg/ffmpeg:latest
        command: >
            -re -f lavfi -i testsrc=size=1280x720:rate=30 
            -c:v libx264 -preset ultrafast -tune zerolatency 
            -pix_fmt yuv420p
            -f rtsp -rtsp_transport tcp rtsp://mediamtx:8554/camera1
        depends_on:
            - mediamtx

volumes:
    postgres:
