version: "3.7"

services:
    redis:
        image: redis:latest
        restart: always
        ports:
            - "${REDIS_PORT:-6379}:6379"

    postgres:
        image: postgres:13-alpine
        restart: always
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        ports:
            - "${POSTGRES_PORT:-5432}:5432"

    node:
        build:
            context: ./
            dockerfile: ./Dockerfile
        env_file:
            - ./.env
        ports:
            - "${PORT:-8086}:8086"
        depends_on:
            - postgres
            - redis

    mediamtx:
        image: bluenviron/mediamtx:latest
        ports:
            - "8554:8554" # RTSP
            - "8888:8888" # HLS
            - "8889:8889" # WebRTC
            - "1935:1935" # RTMP
            - "9997:9997" # API
        environment:
            - MTX_API=yes
            - MTX_APIADDRESS=:9997
